<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- local css style sheet -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- font awesome cdn -->
  <script src="https://kit.fontawesome.com/b9a2b4fe17.js" crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <title>John's URL Shortener</title>
</head>

<body>

  <!-- TITLE: includes navbar and intro header -->
  <section id="title">
    <div class="container-fluid">

      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="/">
          <h2 class="navbar-text">URL Shortener</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-div" name="button">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse-div">
          <ul class="navbar-nav ml-auto">
            <li class="navbar-item">
              <a class="nav-link navbar-text" href="https://johnodonnell.dev/">Personal Site</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link navbar-text" href="https://github.com/john-odonnell">GitHub</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link navbar-text"
                href="https://www.linkedin.com/in/john-o%E2%80%99donnell-49739014a/?challengeId=AQFJmz0T1kazWQAAAXNzSJd5rYWCnndXosmz4u67if9Pgjlkwvq9UZTeRviq_jSPCQsXdTrLxksUzWHxXCiZxWAWhSAnm-6z2A&submissionId=41816754-d6e1-2316-0a70-f55b08e3616e">LinkedIn</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </section>

  <!-- SHORTENING: includes input bar and output -->
  <section id="urlshrt">
    <div class="container-fluid">
      <form class="urlcompress" action="/" method="post">
        <!-- <h1>Reduce Link Length!</h1> -->

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Input URL" aria-label="input-url" aria-describedby="button-addon2" name="inputurl">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name="button">Compress!</button>
          </div>
        </div>

      </form>

      <% if (shorturl) { %>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= longurl %></li>
          <li class="list-group-item"><%= shorturl %></li>
        </ul>
      </div>
      <% } %>

      <% if (badurl) { %>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= longurl %></li>
          <li class="list-group-item">Invalid URL!</li>
        </ul>
      </div>
      <% } %>

    </div>
  </section>

</body>

</html>
