<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>John's URL Shortener</title>
  </head>
  <body>

    <section id="urlshrt">
      <form class="urlcompress" action="/" method="post">
        <h1>Enter Long URL below</h1>
        <input type="text" name="longurl">
        <button type="submit" name="button">Compress!</button>
      </form>

      <% if (shorturl) { %>
        <h3>Long URL:</h3>
        <p><%= longurl %></p>
        <h3>Shortened URL:</h3>
        <p><%= shorturl %></p>
      <% } %>
    </section>



  </body>
</html>
