<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>John's URL Shortener</title>
  </head>
  <body>
    <pre>
      <% console.log(results); %>
      <%= JSON.stringify(results); %>
    </pre>
  </body>
</html>
