body {
  font-family: 'Monserrat', sans-serif;
  background-color: #f9f7f7;
}

h2 {
  padding-top: 12px;
}

#title {
  background-color: #112d4e;
}

.navbar-text {
  color: #f9f7f7;
}

#urlshrt {
  padding: 30px 15px;
}

h1,h3,p {
  color: #BLACK;
}

.short-table {
  width: 100%;
}

#copy {
  float: right;
}

#short {
  margin-bottom: 0;
}

.redirect-notification {
  text-align: center;
}
